<meta charset="UTF-8">
<title>Entregable 5 con EJS</title>
<style>
    body{
        background-color: rgb(30, 30, 30);
        font-family: Verdana;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    footer {
        align-self: flex-end;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        color: rgb(255, 255, 255);
    }

    fieldset {
        line-height: 2;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px dashed white;
    }

    legend {
        line-height: 3;
        font-weight: bold;
    }

    table {
        border: 2px solid white;
        width: 50%;
        margin: 0 auto;
    }

    input{
        border-radius: 5px;
    }
</style>
<link rel="stylesheet" href="../../public/css/style.css">