<h3>PRODUCTO NUEVO</h3>
<form class="formProductAdd">
    <div>
        <label for="title">NOMBRE </label><input type="text" name="title" id="title" required><br>
        <label for="price">PRECIO </label><input type="number" name="price" id="price" required><br>
        <label for="thumbnail">THUMBNAIL </label><input type="text" name="thumbnail" id="thumbnail" required><br>
        <input onclick="addProduct(this)" type="button" value="AGREGAR" id="agregar">
    </div>
</form>