<br>
<h1>ENTREGABLE 11 - INICIO DE SESIÓN</h1>

<div id="logout">
    <input onclick="logout(this)" type="button" id="boton5" value="Cerrar sesión">
</div>

<div id="hechoInitSession">
    <h3>Usted a iniciado sesión</h3>
    <p id="saludos"></p>
</div>

<div id="closeSession">
    <h3>Usted ha cerrado sesión</h3>
    <p id="despedida"></p>
</div>