<h2>TABLA DE TODOS LOS PRODUCTOS</h2>
<table id="tablaProduct">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>PRECIO</th>
        <th>IMAGEN</th>
    </tr>
    <tbody id="tablaProductos"></tbody>
    <!-- tbody es para decir que vamos a poner un cuerpo de tabla -->
</table>