<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h2>TABLA DE PRODUCTOS</h2>
        <%- include('../partials/table'); %>
        <br>
    </main>

    <footer>
        <p>© Copyright 2022 - Gonzalo Leonel Gramajo</p>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/socketTest.js"></script>
    </footer>
</body>
</html>