<h3>CENTRO DE MENSAJES - <span id="compression"></span></h3>
<table id="tableForms">
    <tr>
        <td class="formArriba">
            <form onsubmit="addMessage(this)">
                <label for="message">MENSAJE </label><input type="text" name="message" id="message" required><br>
                <input type="submit" value="ENVIAR" id="boton">
                <br>
            </form>
        </td>
        <td class="formArriba" id="tablaMensajes">
            <div id = "messages"></div>
        </td>
    </tr>
</table>
<hr>